
    
<br />
<center>
 <form action="/posts/update" method="post">
          
    <input type="hidden" name="id" value="<%= @post.id %>">
    <input type="text"   name="title" value="<%= @post.title %>">
    <input type="text"   name="body_content" value="<%= @post.body_content %>"
    <input type="submit" value="Submit">
    <input type="submit" value="Save">
</form>
</center>
